<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Cadastro.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js" defer></script>
    <script src="js/cadastroEstoquistas.js" defer></script>
    <title>Cadastro</title>
</head>
<body>
    <div id="app">
        <main>
            <form action="" method="get">
                <h1 id="titulo">Cadastro</h1>
    
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" nome="Nome" placeholder="Insira seu nome" required v-model="nome">
                </div>
    
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="exemplo@exemplo.com.br" required v-model="email">
                </div>
    
                <div>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="Insira sua senha" required v-model="senha">
                </div>
            
            <div class="container">
                <div>
                    <label for="cpf">CPF:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Insira seu CPF" pattern="[0-9]{11}" required v-model="cpf">
                </div>
    
                <div>
                    <label for="telefone">Telefone:</label>
                    <input type="tel" name="telefone" id="telefone" placeholder="(99)9999-9999" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" title="Número de telefone precisa ser no formato (99)9999-9999" required v-model="telefone">
                </div>
            </div>
            
                <div>
                    <label for="cidade">Cidade:</label>
                    <input type="cidade" name="cidade" id="cidade" placeholder="Sua cidade" required v-model="cidade">
                </div>
    
                <a id="cadastro" @click="store">Cadastrar</a>
    
            </form>
        </main>
    </div>
</body>
</html>