<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need Farma</title>
    <link rel="stylesheet" href="css/EditarPerfil.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js" defer></script>
    <script src="js/editarPerfil.js" defer></script>
</head>
<body>
    <div id="app">
        <!-- A parte do header vai ser padrão em todas as tela, então não precisa mexer nele por enquanto e o css do menu já esta feito no arquivo Inicio.css -->
        <header>
            <div id="logo">
                <span id="span1">Need</span>
                <img src="../img/icons8-pulsação-100.png" alt="">
                <span id="span2">Farma</span>
            </div>

            <nav>
                <ul ref="estilo">
                    <li>
                        <a href="./Inicio.html">Início</a>
                    </li>
                    <li>
                        <a href="./Produtos.html">
                            Produtos
                            <div id="aviso" v-if="aviso == 'true'"></div>
                        </a>
                    </li>
                    <li>
                        <a href="./CadastrarProduto.html">Cadastrar Produtos</a>
                    </li>
                    <li id="editarPerfil">
                        <a href="EditarPerfil.html">Editar Perfil</a>
                    </li>
                    <li id="sair">
                        <a @click="sair">Sair</a>
                    </li>
                </ul>
    
                
                <img src="../img/icons8-menu-hambúrguer-50.png" alt="menu" 
                id="menuImg"
                @click="toggle">

                <img src="../img/icons8-usuário-homem-com-círculo-48.png" alt="img" id="perfilUser" @click="toggle">

                <ul id="listaPerfil" ref="estilo2">
                    <li id="editarPerfil2">
                        <a href="">Editar Perfil</a>
                    </li>
                    <li id="sair2">
                        <a @click="sair">Sair</a>
                    </li>
                </ul>
            </nav>
            
        </header>

        <main>
            <form action="" method="get">
                <h1 id="titulo">Cadastro</h1>
    
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" nome="Nome" placeholder="Insira seu nome" required v-model="nome">
                </div>
    
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="exemplo@exemplo.com.br" required v-model="email">
                </div>
    
                <div>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="Insira sua senha" required v-model="senha">
                </div>
            
            <div class="container">
                <div>
                    <label for="cpf">CPF:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Insira seu CPF" pattern="[0-9]{11}" required v-model="cpf">
                </div>
    
                <div>
                    <label for="telefone">Telefone:</label>
                    <input type="tel" name="telefone" id="telefone" placeholder="(99)9999-9999" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" title="Número de telefone precisa ser no formato (99)9999-9999" required v-model="telefone">
                </div>
            </div>
            
                <div>
                    <label for="cidade">Cidade:</label>
                    <input type="cidade" name="cidade" id="cidade" placeholder="Sua cidade" required v-model="cidade">
                </div>
    
                <a id="cadastro" @click="update">Atualizar</a>
    
            </form>
        </main>
    </div>
</body>
</html>