<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./css/Inicio.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js" defer></script>
    <script src="js/inicio.js" defer></script>
</head>

<body>
    <!-- o que estiver dentro do main é o que vai mudar em cada tela -->
    <div id="app">
        <!-- A parte do header vai ser padrão em todas as tela, então não precisa mexer nele por enquanto e o css do menu já esta feito no arquivo Inicio.css -->
        <header>
            <div id="logo">
                <span id="span1">Need</span>
                <img src="../img/icons8-pulsação-100.png" alt="">
                <span id="span2">Farma</span>
            </div>

            <nav>
                <ul ref="estilo">
                    <li>
                        <a href="./Inicio.html">Início</a>
                    </li>
                    <li>
                        <a href="./Produtos.html">
                            Produtos
                            <div id="aviso" v-if="aviso == 'true'"></div>
                        </a>
                    </li>
                    <li>
                        <a href="./CadastrarProduto.html">Cadastrar Produtos</a>
                    </li>
                    <li id="editarPerfil">
                        <a href="">Editar Perfil</a>
                    </li>
                    <li id="sair">
                        <a @click="sair">Sair</a>
                    </li>
                </ul>
    
                
                <img src="../img/icons8-menu-hambúrguer-50.png" alt="menu" 
                id="menuImg"
                @click="toggle">

                <img src="../img/icons8-usuário-homem-com-círculo-48.png" alt="img" id="perfilUser" @click="toggle">

                <ul id="listaPerfil" ref="estilo2">
                    <li id="editarPerfil2">
                        <a href="">Editar Perfil</a>
                    </li>
                    <li id="sair2">
                        <a @click="sair">Sair</a>
                    </li>
                </ul>
            </nav>
            
        </header>


        <main>
            <h1>Saída de Medicamento</h1>

            <div id="busca">
                <img src="../img/lupa 1.png" alt="lupa" id="lupa">
                <input type="text" name="busca" id="inputBusca" placeholder="Informe o nome do medicamento"
                    v-model="medicamento">
                <button @click="show">Buscar</button>
            </div>
            
            <div id="container" v-for="(remedio, index) in remedios" :key="index" v-if="remedios.length">
                <h2>Venda Realizada</h2>
                <div id="content">
                    <div id="info">
                        <p>Nome: {{remedio.nome_med}}</p>
                        <p>Código: {{remedio.cod_med}}</p>
                        <p>Quantidade Vendida: {{remedio.quantidade}}</p>
                        <p>Data da Venda: {{remedio.data_da_operação}}</p>
                    </div>

                    <div id="actions">
                        <button id="excluir" @click="destroy(remedio.id)">Excluir</button>
                    </div>
                </div>
            </div>

            <div id="container" v-else>
                <p>Nenhum medicamento vendido.</p>
            </div>
        </main>
    </div>
</body>

</html>